<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket chat - room</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body onload="onLoad()" style="overflow: hidden">
    <div class="container p-0">
      <!-- Page header start -->
      <!-- <div class="page-title">
        <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5 class="title">Chat App</h5>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
        </div>
      </div> -->
      <!-- Page header end -->

      <!-- Content wrapper start -->
      <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card m-0">
              <!-- Row start -->
              <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                  <div class="users-container">
                    <div class="chat-search-box">
                      <div class="input-group">
                        <input class="form-control" placeholder="Search" />
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-info">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <ul class="users" id="connected_users">
                    </ul>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                  <div class="selected-user">
                    To:
                    <span class="name" id="selected_user_container">-</span>
                  </div>
                  <div class="chat-container">
                    <ul
                      class="chat-box chatContainerScroll"
                      style="
                        height: 79vh;
                        overflow-y: scroll;
                        overflow-x: hidden;
                      "
                      id="msg_container"
                    ></ul>
                    <form>
                      <div class="form-group mt-3 mb-0 d-flex">
                        <label
                          for="txtImage"
                          class="input-group-text"
                          style="cursor: pointer"
                        >
                          <i class="fa fa-image fs-4"></i>
                        </label>
                        <input
                          type="file"
                          id="txtImage"
                          class="form-control d-none"
                          accept="image/*"
                        />
                        <textarea
                          id="txtMessage"
                          class="form-control"
                          rows="3"
                          placeholder="Type your message here..."
                        ></textarea>
                        <button id="btn" class="btn btn-success">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Row end -->
            </div>
          </div>
        </div>
        <!-- Row end -->
      </div>
      <!-- Content wrapper end -->
    </div>
  </body>

  <script type="text/html" id="msg_left_template">
    <li class="chat-left">
      <div class="chat-avatar">
        <img src="<%= avatar %>" alt="<%= username %>" />
        <div class="chat-name"><%= username %></div>
      </div>
      <div class="chat-text"><%= message %></div>
      <div class="chat-hour">
        <%= time %> <span class="fa fa-check-circle"></span>
      </div>
    </li>
  </script>

  <script type="text/html" id="msg_right_template">
    <li class="chat-right">
      <div class="chat-hour">
        <%= time %> <span class="fa fa-check-circle"></span>
      </div>
      <div class="chat-text"><%= message %></div>
      <div class="chat-avatar">
        <img src="<%= avatar %>" alt="Me" />
        <div class="chat-name">Me</div>
      </div>
    </li>
  </script>

  <script type="text/html" id="img_left_template">
    <li class="chat-left">
      <div class="chat-avatar">
        <img src="<%= avatar %>" alt="<%= username %>" />
        <div class="chat-name"><%= username %></div>
      </div>
      <div class="chat-text">
        <img src="<%= base64Image %>" alt="" />
      </div>
      <div class="chat-hour">
        <%= time %> <span class="fa fa-check-circle"></span>
      </div>
    </li>
  </script>

  <script type="text/html" id="img_right_template">
    <li class="chat-right">
      <div class="chat-hour">
        <%= time %> <span class="fa fa-check-circle"></span>
      </div>
      <div class="chat-text">
        <img src="<%= base64Image %>" alt="" />
      </div>
      <div class="chat-avatar">
        <img src="<%= avatar %>" alt="Me" />
        <div class="chat-name">Me</div>
      </div>
    </li>
  </script>

  <script type="text/html" id="msg_userList_template">
    <li
      class="person d-flex align-items-center"
      data-chat="GROUP"
      onclick="onUserSelect('GROUP','Group',this)"
    >
      <div class="user" style="background-color: white; border-radius: 50%">
        <img src="/images/group.png" alt="Group" />
        <span class="status busy"></span>
      </div>
      <p class="name-time mb-0">
        <span class="name">Group</span>
        <span class="time">15/02/2019</span>
      </p>
    </li>
    <% connectedUsers.map(({ id, username, avatar }) => { %>
    <li
      class="person d-flex align-items-center"
      data-chat="<%= id %>"
      onclick="onUserSelect('<%= id %>','<%= username %>',this)"
    >
      <div class="user" style="background-color: white; border-radius: 50%">
        <img src="<%= avatar %>" alt="<%= username %>" />
        <span class="status busy"></span>
      </div>
      <p class="name-time mb-0">
        <span class="name"><%= username %></span>
        <span class="time">15/02/2019</span>
      </p>
    </li>
    <% }) %>
  </script>

  <script type="text/html" id="selected_user_template">
    <%= username %>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
</html>
